.ganttButtonBar .buttons, .ganttButtonBar h1 {
	/* margin: 10px; */
}

.ganttButtonBar {
	height: 65px;
}

.button.textual, .button.buttonImg {

}

.ganttHead1 th, .ganttHead2 th {
	font-size: 10px;
	font-family: verdana;
}

.taskEditRow input {
    font-size: 12px;
    font-family: verdana;
}

.txt-center { text-align: center; }

TH, .tableHeader {
	font-family: calibri;
    font-weight: bold;
    color: #ffffff;
    border: none;
    background-color: #aaa;
    padding: 2px;
	text-transform: capitalize;
}

.gdfTable td, .gdfTable th {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    font-size: 12px;
    text-transform: capitalize;
}

.top-bar h1 {
    font-size: 18px;
/*     text-transform: uppercase;*/
    letter-spacing: 1px;
    color: #373737;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    margin-right: 80px;
    font-variant: small-caps;
    font-weight: bold;
}

.formElements {
	font-size: 12px;
}

input {
	font-size: 12px;
}
label {
    text-transform: capitalize;
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}

.ganttTaskEditor {
    padding: 10px;
}

td.gdfCell.indentCell input {
    text-transform: capitalize;
}